@inherits LayoutComponentBase
@using BlazorAppShop.Pages.NavBar
@using BlazorAppShop.Pages.Footer

<div class="main-wrapper">
    <NavBar></NavBar>
    <div class="page-wrapper">
        <div class="page-content">
            @Body
            <Footer></Footer>
        </div>
    </div>
</div>

